header {
    height: 150px;
}

.header {
  /* space */
  display: flex;
  justify-content: center;
  text-align: center;
  /* dimensions */
  width: 100vw;
  height: 80px;
  /* styling */
  /* background-color: var(--primary-color); */
  background: var(--gradient);
  color: var(--primary-text-color);
  border: 0px;
  box-shadow: 0 0 15px 2px var(--primary-color);
}

  .logoContainer {
    height: 70px;
    width: 70px;
  }

  .logoContainer img {
    width: 100%;
    height: 100%;
  }